@import url('https://fonts.googleapis.com/css2?family=Kanit&family=Lalezar&family=Ledger&family=Proza+Libre:wght@600&family=Roboto&family=Ubuntu&display=swap');

.page {
    height: 100vh;
    @apply flex flex-col;
}

.header {
    @apply flex flex-row items-center justify-between px-36 py-6;
}

.header-name {
    @apply flex;
}

.header-name h1 {
    font-family: 'Proza Libre', sans-serif;
    @apply text-2xl;
}

.header-name p {
    font-family: 'Proza Libre', sans-serif;
    @apply text-4xl text-[var(--green-app)];
}

.header-side {
    @apply flex flex-row items-center;
}

.header-feedback {
    border: 0.125rem solid black;
    transition: background-color 0.5s, color 0.5s;
    @apply flex flex-row items-center justify-center px-7 py-1 rounded-md ml-5;
}

.header-feedback p {
    font-family: 'Lalezar', sans-serif;
    @apply pt-1 ml-1.5 text-xl;
}

.header-feedback:hover {
    @apply bg-[#424242] text-white;    
}

.main {
    @apply flex flex-1 flex-col justify-start items-center bg-[var(--green-app)] py-10 pt-20 px-36;
}

.main-header {
    @apply flex flex-row justify-between w-full;
}

.main-title {
    @apply flex flex-col;
}

.main-title h1 {
    font-family: 'Kanit', sans-serif;
    @apply text-white text-6xl;
}

.main-title h3 {
    font-family: 'Ledger', sans-serif;
    @apply text-xl text-white mt-3 ml-1;
}

.main-date {
    @apply flex flex-col;
}

.main-date hr {
    @apply w-40 mt-2;
}

.main-date-date {
    font-family: 'Roboto', sans-serif;
    @apply text-white text-xl mt-2;
}

.main-date-time {
    font-family: 'Roboto', sans-serif;
    @apply text-white text-sm mt-1;
}

.main-white-container {
    @apply flex flex-col rounded-xl mt-16 py-7 px-6 bg-white;
}

.main-white-container-top {
    @apply flex flex-row justify-around items-center;
}

.label-input {
    @apply flex flex-col;
}

.label-input label {
    font-family: 'Ubuntu', sans-serif;
    @apply text-sm ml-1
}

.label-input input {
    font-family: 'Ubuntu', sans-serif;
    @apply text-6xl mt-2 w-full;
}

.exchange-image {
    border: 2px solid var(--green-app);
    transition: transform 0.3s;
    @apply rounded-3xl mx-10 cursor-pointer;
}

.exchange-image:hover {
    transform: translateY(-7px);
}

.select-currency {
    @apply flex flex-row items-center justify-between;
}

.main-white-container-middle {
    @apply flex flex-col p-2 mt-5;
}

.rates-convert {
    @apply flex flex-row justify-between items-center mb-5;
}

.rates-convert button {
    font-family: 'Proza Libre', sans-serif;
    @apply py-2.5 px-3.5 text-center text-lg text-white bg-[var(--green-app)] w-40 rounded-md;
}

.exchange-rates {
    font-family: 'Roboto', sans-serif;
    @apply text-sm
}

.main-white-container-bottom {
    @apply flex flex-row p-2 mt-4 justify-start items-center;
}

.disclaimer {
    @apply bg-[#e6f0ef] flex flex-row h-fit items-center justify-center p-3 rounded-md mr-4;
}

.disclaimer p {
    font-family: 'Roboto', sans-serif;
    @apply text-sm ml-2;
}

.disclaimer-info {
    @apply flex flex-col;
}

.currency {
    @apply rounded-lg;
}

.dropdown.dropdown--image {
    @apply inline-block relative h-[45px];
}

.dropdown {
    @apply inline-block relative h-[40px];
}

.dropdown--image .dropdown__select {
    @apply cursor-pointer;
}

.dropdown__select {
    @apply flex items-center justify-end cursor-pointer p-1;
}

.dropdown__select-wrap {
    @apply w-[42px] h-[15px];
}

.dropdown__options-wrap {
    max-width:calc(100% + 200px);
    @apply overflow-auto hidden max-h-[200px] absolute top-[60px];
}

.dropdown__option {
    @apply p-2 w-fit;
}

.dropdown--image .dropdown__options-wrap {
    max-width:calc(100% + 200px);
    @apply hidden max-w-[200px] absolute top-[70px] overflow-auto;
}

.dropdown__options-wrap::-webkit-scrollbar {
    @apply w-0
}

.dropdown__options-wrap::-webkit-scrollbar-thumb {
    @apply bg-transparent
}

.dropdown__options-wrap::-webkit-scrollbar-track {
    @apply bg-transparent
}

.dropdown--image .dropdown__options-wrap.active,
.dropdown__options-wrap.active{
    z-index: 99999;
    border-bottom: none;
    @apply inline-block w-full m-auto bg-[#becec1] top-[45px] cursor-pointer mt-1;
}

.dropdown__option:last-child{
    border-bottom:none;
}

.dropdown__option:hover{
    @apply bg-[#444]
}
